html, body {
	font-family: helvetica, arial, sans-serif;
	color:#424242;
	font-size:2.5vh;
	font-weight: normal;
	display: flex;
	flex-direction: column;
	height: 100%;
}

h1 {
	font-size: 8vh;
	text-align: center;
}

h2 {
	font-size: 5vh;
}

h5 {
	font-size:2.5 vh;
}

br {
	line-height: 2rem;
}

a {
	color:#424242;
	text-shadow: 2px 2px 5px #00e6b8;
}
a:hover {
	color:#00e6b8;
}

.content{
	margin: 50px 10vw 50px 10vw;
	flex: 1 0 auto;
}

.fab {
	padding-right: 0.5rem;
	font-size: 4vh;
}

.screen-center{
	position: absolute;              
    top: 50%;                        
	left: 50%;
    margin-right: -50%;
    text-align:center;
    transform: translate(-50%, -50%);
}

.whisper { 
	font-weight:100;
	font-size: 0.5rem;
	font-style: italic;
}


.arrow {
	position: fixed;
	z-index:100;
	font-size:80px;
}

.arrow.up {
	top:0;
	left:50%;
	transform: translate(-50%,0);
}

.arrow.right:hover {
	color:#1F70C1;
}

.arrow.right{
	top:50%;
	right:1rem;
	transform: translate(0,-50%);
}

.arrow.down{
	left:50%;
	bottom:15vh;
	transform: translate(-50%,0);
}

.arrow.left{
	top:50%;
	left:1rem;
	transform: translate(0,-50%);
}



footer{
	flex-shrink: 0;
	display: flex;
	flex-direction: row;
	box-sizing: border-box;
	background-color: #424242;
	//border-top: 1px solid #424242;
	color:#fff;
}

footer a {
	color:#fff;
}
footer a:hover {
	color:#00e6b8;
}

footer > div{
	display:flex;
	flex-direction: row;
	padding: 1rem;
}

.contact{
	margin-left: auto;
	display: flex;
	flex-direction: row-reverse;
}

.contact > * {
	padding-left: 1rem;
}

