/*camel case for css*/

:root {
	--accent: #00e6b8;
	--darkText: #303030;
	--top: #FF1A4A;
	--right: #1F70C1;
	--left: #F9C80E;
}

html, body {
	font-family: helvetica, arial, sans-serif;
	color: var(--darkText,#303030);
	font-size:3vh;
	font-weight: normal;
	display: flex;
	flex-direction: column;
	height: 100%;
}

h1 {
	font-size: 8vh;
	text-align: center;
}

h2 {
	font-size: 5vh;
}

h5 {
	font-size:2.5vh;
}

br {
	line-height: 2rem;
}

.section-head {
    font-size: 4vh; font-weight: 900; 
}

li {
	margin: 2vh 0;
}

a {
	color: var(--darkText, #303030);
	text-shadow: 2px 2px 5px var(--accent, #00e6b8);
}
a:hover {
	color:var(--accent, #00e6b8);
}

.center {
	margin: 0 auto;
	text-align: center;
}

.content {
	margin: 50px 10vw 15vh 10vw;
	flex: 1 0 auto;
}

.row {
	 display: flex;
	 flex-direction: row;
}

.fab {
	padding-right: 0.5rem;
	font-size: 4vh;
}

.screen-center{
	position: absolute;              
    top: 50%;                        
	left: 50%;
    margin-right: -50%;
    text-align:center;
    transform: translate(-50%, -70%);
}

.whisper {
	//ugh, too thin it's hard to see, too thick it isn't whispher at all... 
	font-weight:400; 
	font-size: 0.8rem;
	font-style: italic;
}


.arrow {
	position: fixed;
	z-index:100;
	font-size:2rem;
	opacity: 0.7;
}

.arrow:hover{
	text-shadow: 2px 2px 5px var(--darkText, #303030);
	opacity: 0.9;
}

.arrow.up:hover {
	color: var(--top, #FF1A4A);
}

.arrow.right:hover {
	color: var(--right, #1F70C1);
}

.arrow.left:hover {
	color: var(--left, #F9C80E);
}

.arrow.down:hover {
	color: var(--accent, #00e6b8);
}

.arrow.up {
	top:0;
}

.arrow.right{
	right:1rem;
}

.arrow.down{
	bottom:9vh;
}

.arrow.left{
	left:1rem;
}

.arrow.horMid {
	left:50%;
	transform: translate(-50%,0);
}

.arrow.vertMid {
	top:45%;
	transform: translate(0,-50%);
}

.arrow.downSub {
	bottom:13vh;
}

.arrow.upSub {
	top:3vh;
}

.arrow.c30 {
	transform: rotate(30deg);
}

.arrow.ac30 {
	transform: rotate(330deg);
}


footer{
	position: fixed;
	left: -1px;
	bottom:0;
	display: flex;
	flex-direction: row;
	box-sizing: border-box;
	background-color: var(--darkText, #303030);
	border-top: 1px solid #eee;
	color:#fff;
	height:10vh;
	width: 100%;
	
}

footer a {
	color:#fff;
}
footer a:hover {
	color:var(--accent, #00e6b8);
}

footer > div{
	display:flex;
	flex-direction: row;
	padding: 1rem;
}

.contact{
	margin-left: auto;
	display: flex;
	flex-direction: row-reverse;
}

.contact > * {
	padding-left: 1rem;
}